<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MIP | Megalith Internship Programme 2023 | The Annual Fest of Civil Engineering | IIT Kharagpur </title>
    <meta name="title" content="Megalith Internship Program | Megalith 2023 IIT Kharagpur">
    <meta name="description" content="The Annual Tech-fest of Civil Engineering Department">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="megalogotheme.png">
    <meta http-equiv="X-UA-Compatible" content="sie-edge" />
    <link rel="stylesheet"  href="register.css">
    <link rel="stylesheet" href="buttons.css">
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="contactus.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/css/lightgallery.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" /> 
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>Slider Form</title>
</head>

<body>
	<header class="header">
		<div class="left-header">
			<a href="/comingsoon" class="logo"><img src="megalogotheme.png">
			Megalith<span>'23</span></a>
		</div>
		<nav class="navbar">
			<a href="/">Home</a>
			<a href="Megalith_Internship_Brochure.pdf">Internship Brochure</a>
			<a href="https://2022.megalith.co.in/">Go to Megalith 2022</a>
		</nav>

		<div class="icons">
			<div id="menu-btn" class="fas fa-bars"></div>
			<!-- <div id="login-btn" class="fas fa-user"></div> -->
            <a href="/login"><div id="login-btn" class="fas fa-user"></div></a>
		</div>

	</header>

    <!-- ==================================================================================== -->


    <div class="container " id="container">
        <div class="form-container sign-up-container">
            <form action="/forgot-password" class="signupform" method="POST">
                <h1>Forgot Password</h1>
                    <label for="email">Email</label>
                    <input type="email" name="enteredEmail" id="email" required>
                    <br>
                    <button onclick="emailsetfunction()" type="submit" class="submitpop">Submit</button>
            </form>
        </div>
    </div>
    <script>
       function emailsetfunction(){
        alert("Password reset Link has been sent to your email...")
       }
    </script>

    

<!-- ============================================================================================ -->

<footer class="footer">
    <div class="footer-container">
      <div class="footer-row">

        <div class="contactus-wrapper">
          <div class="contactus-container">
            <form class="contactus" action="/contactus" method="POST">
              <h1>Let Us know, What's in your Head.</h1>
              <div class="item name_email">
                <input class="emailtext" type="text" name="sendername" placeholder="Your name" required>
                <input class="emailtext" type="email" name="senderemail" placeholder="Email" required>
              </div>
              <div class="item">
                <input class="emailtext" type="text" name="sendersubject" placeholder="Subject" required>
              </div>
              <div class="item">
                <textarea class="emailtext" name="sendermessage" placeholder="Message" required></textarea>
              </div>
              <div class="contactusbtn"><button onclick="contactfunction()" class="regbtn regbtn__new" type="submit">Send</button>
              </div>
            </form>
          </div>
        </div>  
        <script>
          function contactfunction(){
             alert("Your Query has been registered and you will be informed");
          }
        </script>
        <div class="footer-div">
          <div class="footer-div-1">
        <div class="footer-col">
          <h4>Megalith 2023</h4>
          <img src="megalogotheme.png">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="Megalith_Internship_Brochure.pdf">Internship Brochure</a></li>
            <li><a href="/comingsoon">Megalith 2023</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Follow Us</h4>
          <div class="social-links">
            <a href="https://www.facebook.com/megalithkgp"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/megalithkgp"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/iitkgp.megalith/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/company/megalith-iit-kharagpur/mycompany/"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
        </div>

        <div class="footer-col">
          <h4>Contact Us</h4>
          <div class="contact-number">
            <ul>                       
              <li><a>Utkarsh Gupta +917894015456</a></li>
              <li><a>Mohammad Shoaib +918520864240</a></li>
              <li><a>Debabrata Sarkar +919674941887</a></li>
            </ul>
          </div>
        </div>
      </div>
    
            
      </div>
    </div>
  </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/js/lightgallery.min.js"></script>

    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

</body>

</html>
